.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* media query */

@media screen and (max-width: 420px){

  /* generici */

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Xanh Mono', monospace;
  }

  .container, .container.grey{
    background-color: black;
  }

  .row{
    width: 98%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    border: 3px solid orange;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    background-color: #fff;
    }

    h1{
    font-size: 30px;
    color: red;
     }

    .row *{
       padding-top: 20px;
     }

     hr{
       display: none;
     }

     #why, #steps{
       margin-top: 50px;
     }

    /* /generici */
    /* #lezioni */

    #lezioni .row>.left,
    #lezioni .row>.right {
      width: 100%;
    }

    /* /#lezioni */
    /* #steps */

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      width: 100%;
    }

    /* /#steps */
    /* why */

    #why > .row{
      padding-left: 0;
      padding-right: 0;
    }

    #why > .row > .first, #why > .row > .second{
      width: 50%;
      height: 420px;
      float: left;
      margin: 30px 0;
      padding: 0 15px;
    }

    #why img{
      height: 100px;
    }

    /* /why */
}
/* /media query */
